<div class="jumbotron text-center">
    <h1>{{message}}</h1>
</div>

<div class="container-fluid">
    <div class="row centered">
        <div class="col-md-6 col-sm-6">
            <div class="text-center" ng-show="notLogin">
                <h2>Bisogna loggare per accedere all' area screen.</h2>
            </div>
            <div class="panel panel-info" ng-repeat="foto in Foto">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-left media-top" style="margin-left: 15px; margin-top: 15px;">
                                    <img ng-src="{{foto.pic}}" class="media-object img-rounded">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{foto.nome}}</h4>
                                    <p>{{ foto.data | date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            {{foto.numero}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <img ng-src="screen/{{foto.src}}" class="img-responsive img-rounded" style="display: block;margin: auto;">
                </div>
                <div class="panel-body">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    {{foto.titolo}}
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button type="button" class="btn btn-default" ng-click="minusOne($index)">
                                        <span class="glyphicon glyphicon-thumbs-down" style="color:red;" aria-hidden="true"> {{foto.n_dislike}}</span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="plusOne($index)">
                                        <span class="glyphicon glyphicon-thumbs-up" style="color:green;" aria-hidden="true"> {{foto.n_like}}</span>
                                    </button>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{foto.descrizione}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>