
<div class="jumbotron text-center">
        <h1>{{message}}</h1>
</div>
<div class="container-fluid">
    <div class="row centered">
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    Registrati
                </div>
                <div class="panel-body text-center">
                    <!--Login form-->
                    <form class="form-horizontal" ng-model="formReg" name="formReg" novalidate>
                        <!--Selezione avatar-->
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><img src="pic/simon.png"><br><input type="radio" ng-model="selectedPic" value="pic/simon.png"/></td>
                                    <td><img src="pic/lady.png"><br><input type="radio" ng-model="selectedPic" value="pic/lady.png"/></td>
                                    <td><img src="pic/chinese.png"><br><input type="radio" ng-model="selectedPic" value="pic/chinese.png"/></td>
                                    <td><img src="pic/woman.png"><br><input type="radio" ng-model="selectedPic" value="pic/woman.png"/></td>
                                </tr>
                                <tr>
                                    <td><img src="pic/izaya.png"><br><input type="radio" ng-model="selectedPic" value="pic/izaya.png"/></td>
                                    <td><img src="pic/setton.png"><br><input type="radio" ng-model="selectedPic" value="pic/setton.png"/></td>
                                    <td><img src="pic/sizuo.png"><br><input type="radio" ng-model="selectedPic" value="pic/sizuo.png"/></td>
                                    <td><img src="pic/kanra.png"><br><input type="radio" ng-model="selectedPic" value="pic/kanra.png"/></td>
                                </tr>
                                <tr>
                                    <td><img src="pic/saika.png"><br><input type="radio" ng-model="selectedPic" value="pic/saika.png"/></td>
                                    <td><img src="pic/bakyura.png"><br><input type="radio" ng-model="selectedPic" value="pic/bakyura.png"/></td>
                                    <td><img src="pic/shinra.png"><br><input type="radio" ng-model="selectedPic" value="pic/shinra.png"/></td>
                                    <td><img src="pic/lolita.png"><br><input type="radio" ng-model="selectedPic" value="pic/lolita.png"/></td>
                                </tr>
                                <tr>
                                    <td><img src="pic/koukin.png"><br><input type="radio" ng-model="selectedPic" value="pic/koukin.png"/></td>
                                    <td><img src="pic/gg.png"><br><input type="radio" ng-model="selectedPic" value="pic/gg.png"/></td>
                                    <td><img src="pic/zawa.png"><br><input type="radio" ng-model="selectedPic" value="pic/zawa.png"/></td>
                                    <td><img src="pic/chineseF.png"><br><input type="radio" ng-model="selectedPic" value="pic/chineseF.png"/></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row centered">
                            <div class="col-md-5 col-sm-5"  style="align-content: center;">
                                <!--username-->
                                <div class="form-group">
                                    <label for="nome">Username:</label>
                                    <input type="text" class="form-control" name="username" ng-model="username" placeholder="Inserisci il tuo nome utente" />
                                </div>
                                <!--password-->
                                <div class="form-group">
                                    <label for="psw">Password:</label>
                                    <input type="password" name="password" class="form-control" placeholder="inserisci la password per il tuo account" ng-model="password" />
                                </div>
                                <!--submit button-->
                                <div class="form-group">
                                    <button type="submit" ng-click="registra()" class="btn btn-primary center-block" >Registrati</button> <!-- ng-disabled="!form.$valid" -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>